QToolTip{
	background-color: #8da4c3;
	border:2px solid  #17212b  ;
}

QMainWindow, QWidget[form_type = subwindow] {
	background-color:#dee2e7;
}

QMenuBar, QMenu{
	background-color: #242f3d;
	color: white;
}
QMenu{
	border: 3px solid #17212b;
	padding: 8px;
}


#GraphTabWidget QWidget[frame_type = handler]{
	background-color: #17212b;
}
#GraphTabWidget QWidget[frame_type = graph], #GraphTabWidget QWidget[frame_type = graph] QWidget{
	background-color: #242f3d;
	color: white;
}

#dockWidgetContents, #dockWidgetContents_2{
	background-color: #17212b;
}

QTabBar::tab {
	background-color: #17212b;
	color: white;
}

QTabBar::tab:selected {
	background-color: #242f3d;
	color: #f7ca01;
}

QTabBar::tab:hover {
	background-color: #242f3d;
}


QTabWidget::pane { 
	border: 0; 
	background-color: #242f3d;
	padding: 10px;
}





#Loading_win_ProgressBar:chunk{
    background-color: #8da4c3;
}

QLabel{
	color: white;
}





QPushButton{
	background-color: #3e63f6;
}

QPushButton:hover{
	background-color: #304592;
}

QPushButton:pressed{
	background-color: rgb(1, 53, 117);
}

QPushButton[btn_type = exit]{
	background-color: rgba(0,0,0,0);
}
 
QPushButton[btn_type = delete]{
	background-color: #b90009;
}

QPushButton[btn_type = delete]:hover{
	background-color: #e86a71;
}

QPushButton[btn_type = delete]:pressed{
	background-color: #e86a71;
}
 





QListWidget{
	background-color: #242f3d;
}
QListWidget::item{
	background-color: #2b5278;
}
QListWidget::item:hover{
	background-color: #17212b;
}
QListWidget::item:selected{
	background-color: #17212b;
	color: #f7ca01;
}



QLineEdit, QTextEdit, QDateEdit{
	background-color:#242f3d;
	color: white;

}




QScrollBar::handle{
	background-color: rgb(34, 85, 146);;

}

QComboBox {   
    color: rgb(255, 255, 255);
    background: #242f3d;
	border:0px solid white;
}

QComboBox QAbstractItemView {
    
    color: white;
    background-color: #17212b; 
    selection-background-color: #17212b; 
}


QComboBox QAbstractItemView::item {
	background-color: #17212b;
}


QComboBox QAbstractItemView::item:hover {
	background-color: #2b5278; 
}


QComboBox QAbstractItemView::item:selected {
	background-color: #2b5278;
	color: #f7ca01;
}



#GraphTabWidget QWidget[frame_type = graph] QComboBox {
    color: rgb(255, 255, 255);
    background: #17212b;
	border:0px solid white;
	padding:5px;
}

#GraphTabWidget QWidget[frame_type = graph] QComboBox QAbstractItemView{
    
    color: white;
    background-color: #242f3d; 
    selection-background-color: #242f3d; 
}


#GraphTabWidget QWidget[frame_type = graph] QComboBox QAbstractItemView::item {
	background-color: #242f3d;
}


#GraphTabWidget QWidget[frame_type = graph] QComboBox QAbstractItemView::item:hover {
	background-color: #17212b; 
}


#GraphTabWidget QWidget[frame_type = graph] QComboBox QAbstractItemView::item:selected , QComboBox QAbstractItemView::item:selected {
	background-color: #2b5278;
	color: #f7ca01;
}



QDoubleSpinBox{ 
	color: rgb(255, 255, 255);
    background: #242f3d;
}

QMessageBox {
	background-color: #242f3d;
}

QMessageBox QPushButton{
	padding: 10px;
}


QCheckBox::indicator{
	border: 2px solid #3e63f6;
}

QCheckBox::indicator:unchecked {
    
	background-color: transparent;
}

QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:checked:pressed{
	background-color: #2b5278;
}



QCheckBox::indicator:checked {
	background-color: #3e63f6;
}